body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 600px;
}

h1,
u,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /* pra herdar a propriedade do elemento pai */
}

img {
  max-width: 100%;
  display: block;
}

/* Sempre dar esse reset nos estilos iniciais de cada coisa (acima) */

.header-bg {
  background-color: #000;
}

.header {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* p quebrar p baixo */
  justify-content: space-between; /* pra colocar o logo de um lado e os itens da navegação do outro, espaçamento entre os itens */
  align-items: center; /* pro logo ficar sempre alinhado ao centro com os itens da navegação */
  box-sizing: border-box; /* p nao precisar escrever um valor quebrado pro max-width, com isso ele ja conta os valores de padding (20px pra cima e p baixo e de um lado p outro)*/
  padding: 20px; /* p desgrudar os itens dos cantos */
  max-width: 1200px; /* container p segurar os itens, p nao crescer infinitamente, p deixar responsivo */
  margin-left: auto;
  margin-right: auto; /* margin left e right de auto pra alinhar ao centro dps que foi definido o max-width de 1200px senao ia sempre ficar alinhado no msm canto */
}

.header-menu {
  display: flex; /* p colocar cada li uma do lado da outra */
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: #ffffff;
  display: inline-block; /* pro padding pegar direito */
  padding: 16px 0px; /* p aumentar a area de contato do botao, qnd clicar com o dedo vai ser melhor, coloco so pra cima e pra baixo senao os itens iam ficar mt espaçados */
  font-size: 18px;
  position: relative; /* sem isso o elemento absolute fica em relaçao ao body, o width ficar crescendo de acordo com o body. Com isso nao ocupa mais nenhum espaço q aumente esses itens */
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px; /* aqui a largura fica como 0 pq eu só quero que o sublinhado apareça quando eu passar o mouse em cima */
  background: #ffffff;
  margin-top: 4px;
  transition: 0.3s; /* geralmente esse é o valor ideal */
  position: absolute; /* p tirar o elemento do fluxo e voltar a ficar centralizado com o logo, ate diminuiu a altura do header, passa a ficar relacionado ao elemento pai que tiver com o position relative */
}

.header-menu a:hover:after {
  width: 100%; /* p pegar exatamente a largura do elmento pai, ou seja, o tamanho do conteudo certinho, entao ja fica como se fosse um sublinhado que a gente definiu */
}

@media (max-width: 800px) /* abaixo de 800px */ {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: #2e2e2e;
  }
  .header a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.introducao-bg {
  background: #000000;
  color: #ffffff;
  box-shadow: inset 0 -120px #ffffff; /* p dar a ilusao da imagem vazando */
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 1fr significa distribuir igualmente o espaço que sobra, aqui é indiferente colocar 6fr 6fr, ou 10fr 10fr... ou 1fr 1fr */
  gap: 0px 40px; /* p separar só pros lados as duas colunas */
  box-sizing: border-box; /* p somar os paddings com o max-width de 1200px */
  max-width: 1200px; /* p o conteudo ficar contido nos 1200px */
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto; /* margin-left auto e margin right auto p os itens ficarem sempre alinhados ao centro independente do tamanho da pag */
}

.introducao-conteudo {
  align-self: end; /* p alinhar verticalmente na parte de baixo */
  padding-bottom: 200px; /* p nao ficar tao p baixo (compensar com os 120 q defini no box-shadow pro efeito da imagem vazando, pq antes tava 80 aqui. Continua com os 80 entre o botao pra baixo na parte preta, mas na parte branca ficou com os 120 do box shadow) */
}

.introducao img {
  height: 100%;
  object-fit: cover; /* p parar de distorcer a imagem */
  border-radius: 4px;
}

.introducao h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125; /* sempre definir o line-height relativo a font-size, ex aqui: 72/64 = 1.125 (72px era o valor fixo) */
}

.introducao h1 span {
  color: #ffbb00;
}

.introducao p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
}

.introducao a {
  display: inline-block; /* p pegar o padding corretamente */
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
}

.introducao a:hover {
  background: linear-gradient(#ffb60d, #f2a50c);
}

@media (max-width: 600px) {
  .introducao a {
    padding: 12px 16px;
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px;
  }
  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background: #111111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff; /* p imagem nao vazar mt */
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
