.introducao-bg {
  background: var(--cor-12);
  box-shadow: inset 0 -120px var(--cor-0); /* p dar a ilusao da imagem vazando */
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 1fr significa distribuir igualmente o espaço que sobra, aqui é indiferente colocar 6fr 6fr, ou 10fr 10fr... ou 1fr 1fr */
  gap: 0px 40px; /* p separar só pros lados as duas colunas */
}

.introducao-conteudo {
  align-self: end; /* p alinhar verticalmente na parte de baixo */
  padding-bottom: 200px; /* p nao ficar tao p baixo (compensar com os 120 q defini no box-shadow pro efeito da imagem vazando, pq antes tava 80 aqui. Continua com os 80 entre o botao pra baixo na parte preta, mas na parte branca ficou com os 120 do box shadow) */
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* p parar de distorcer a imagem */
  border-radius: 4px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff; /* p imagem nao vazar mt */
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao h1 {
    margin-bottom: 16px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
