.vantagens-bg {
  background-color: var(--cor-12);
}

.vantagens {
  padding-top: 120px;
  padding-bottom: 120px;
}

.vantagens h2 {
  margin-bottom: 60px;
}

.vantagens ul {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, max-content)
  ); /* auto-fit: valor que der, quantidade de colunas que der. As colunas vão ter um mínimo de 280px (nao pode diminuir menos que isso) e valor máximo com o máximo do conteúdo que pode ter (max-content). Isso é bom pra criar um layout responsivo sem ter que ficar mudando de media querie em media querie */
  gap: 40px 80px; /* 40 p cima e p baixo e 80 de um lado p outro */
}

.vantagens h3,
.vantagens img {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .vantagens {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .vantagens h2 {
    margin-bottom: 40px;
  }
  .vantagens ul {
    gap: 20px;
  }
}
